.outputText{
 cursor: default!important;
 text-decoration: none!important;
 }
 
.singleLine {
	text-wrap: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.capitalize {
	text-transform: capitalize;
}

.noShow {
	display: none;
}

.box-ci {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: -500;
	top: 0;
	left: 0;
	visibility: hidden;
}

.allPadding {
	padding: 10px !important;
}

.allMargin {
	margin: 5px;
}

.contentVerticalPadding {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.toRight {
	float: right;
}

.toLeft {
	float: left;
}

.customLine {
	border: solid 1px #00abc2;
}

.text-button-primary {
	color: #00abc2;
}

.button-small {
	width: 18px !important;
	height: 18px !important;
}

.button-small-text {
	height: 18px !important;
	min-width: 100px !important;
}

.button-small-text .ui-button-text {
	padding: 0 1em 0.3em 2.1em !important;
}

div.clear {
	clear: both;
}

.alLeft {
	text-align: left;
}

.alRight {
	text-align: right;
}

.alTop {
	vertical-align: top;
}

.alMiddle {
	vertical-align: middle;
}

.alBottom {
	vertical-align: bottom;
}

.alCenter {
	text-align: center !important;
}

.alJustify {
	text-align: justify;
	display: block;
}

.alCenter table {
	margin: 0 auto;
	text-align: left;
}

.separatorTop {
	margin-top: 10px;
}

.separatorRight {
	padding-right: 10px;
}

.separatorBottom {
	padding-bottom: 10px;
}

.w100 {
	width: 100%;
}

.companyHeaderGrid td {
    border-style: hidden !important;
}

.panelGridCenter {
    margin: 0 auto;
    width: 100%;
}

.m50{
	margin: 50%;
}

.w90 {
	width: 90%;
}

.w85 {
	width: 85%;
}

.w75 {
	width: 75%;
}

.w66 {
	width: 66%;
}

.w50 {
	width: 50%;
}

.mw50 {
	min-width: 50%;
}

.mw90 {
	min-width: 90%;
}

.w45 {
	width: 45%;
}

.w40 {
	width: 40%;
}

.w33 {
	width: 33%;
}

.w30 {
	width: 30%;
}

.w25 {
	width: 25%;
}

.w20 {
	width: 20%;
}

.w15 {
	width: 15%;
}

.w12 {
	width: 12%;
}

.w10 {
	width: 10%;
}

.w8 {
	width: 8%;
}

.w5 {
	width: 5%;
}

.w20px {
	width: 20px;
}

.w40px {
	width: 40px;
}

.w60px {
	width: 60px;
}

.w70px {
	width: 70px;
}

.maxw400px {
	max-width: 400px;
}

.field_mrg {
	padding-left: 10px;
}

.field_mrg_x2 {
	padding-left: 20px;
}

.field_mrg_x4 {
	padding-left: 40px;
}

.bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.encabezado,label.encabezado {
	font-weight: bold;
	display: block;
	margin-bottom: 11px;
}

.encabezado1_5em {
	font-weight: bold;
	display: block;
	margin-bottom: 14px;
	margin-top: 14px;
	font-size: 1.5em;
}

.encabezado1_5em_clean {
	font-weight: bold;
	font-size: 1.5em;
}

.encabezado1_4em {
	font-weight: bold;
	display: block;
	margin-bottom: 14px;
	margin-top: 14px;
	font-size: 1.4em;
}

.template-name {
	display: block;
	margin-bottom: 14px;
	margin-top: 14px;
	font-size: 1.4em;
}

.encabezado1_3em {
	font-weight: bold;
	display: block;
	margin-bottom: 14px;
	margin-top: 14px;
	font-size: 1.3em;
}

.square60px {
	width: 60px !important;
	height: 60px;
}

.noMargins {
	margin: 0 !important;
}

table.panel_data {
	/*COLOR: BORDE*/
	border: 1px #C5C5C5 solid;
	border-collapse: separate;
	margin: 0px;
	padding: 0px;
}

table.panel_data td {
	/*COLOR: CELDAS DATOS*/
	text-align: left;
	background-color: #F5F5F5;
	padding: 5px;
}

table.panel_data th,table.panel_data th.header,table.panel_data td.header,table.panel_data tr.alt td.header {
	/*COLOR: CELDAS CABECERA*/
	text-align: right;
	background-color: #00aac3;
	padding-right: 7px;
	padding-left: 7px;
	vertical-align: top;
	font-weight: bold;
	color: #FFF;
}

.header_min_width200 {
	min-width: 200px;
}

table.panel_data tr.alt td.null,table.panel_data tr.alt td,table.tabla_lista tr.alt td {
	/*COLOR: FONDO TABLA*/
	background-color: #FFFFFF;
}

table.panel_data tr.dark td.null,table.panel_data tr.dark td {
	/*COLOR: CELDAS DATOS*/
	background-color: #F5F5F5;
}

table.panel_data th a,table.panel_data th.header a,table.panel_data td.header a {
	color: #000;
}

div.buttons {
	margin-top: 0px;
	padding-top: 10px;
	text-align: right;
}

.inline {
	display: inline;
}

.imgNoBorder {
	border: 0px;
}

.noBorderHeader .ui-widget-header {
	border-top: none !important;
}

.noBorder  .ui-datalist-content {
	border: none;
}

table.noBorder,table.noBorder tbody td {
	border: none;
	border-style: hidden;
}

.border-radius50px {
	border-radius: 50px;
}

.border-radius50px-left {
	border-radius: 0 50px 50px 0;
}

#menu-principal,.menu-lateral {
	border: 1px solid #aaaaaa;
	width: 20%;
	float: left;
	position: relative;
	height: auto;
	margin-bottom: 20px;
}

#menu-principal ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
}

.menu-lateral ul {
	list-style-type: circle;
	margin: 0px;
	font-family: Arial, sans-serif;
}

#menu-principal ul li,.menu-lateral ul li {
	margin: 5px 0;
}

#menu-principal .activo-true span.menu-ficha,.menu-lateral .activo-true span.menu-ficha,ul li .activo-true {
	color: #444;
}

.config {
	height: 120px;
}

.config .ui-panel-titlebar {
	background: #eee;
}

.icon-play {
	background-image: url("../resources/images/play-big.png") !important;
	width: 50px;
	height: 50px;
	margin-left: -25px !important;
	margin-top: -25px !important;
	left: 50%;
	top: 50%;
}

.content {
	float: right;
	width: 78%;
}

iframe.full {
	display: block; /* iframes are inline by default */
	border: none; /* Reset default border */
	height: 135vh; /* Viewport-relative units */
	width: 100%;
	overflow: scroll;
}

.header-separator {
	background: #fff;
	width: 1px;
	height: 28px;
	position: absolute;
	margin-top: -15px;
}

.row-resalted td {
	background: #D8F5D3 !important;
	
	#B6B6B6
}

.row-resalted-hyd td {
	background: #D8D8D8 !important;
}

.verde {
	background: #D8F5D3;
	height: 30px
}

.rojo {
	background-color: #F5A9A9 !important;
	background-image: none !important;
	color: #000000 !important;
}

.text-red {
	color: #F00 !important;
}

.text-through {
	text-decoration: line-through;
}

.text-blue {
	color: #0000c3 !important;
}

.bg_light {
	background-color: #fee !important;
}

.celeste {
	background-color: #D1D5F3 !important;
	background-image: none !important;
	color: #000000 !important;
}

.tb_w20 tr {
	width: 20%;
	float: left;
}

.tb_w30 tr {
	width: 30%;
	float: left;
}

.tb_w50 tr {

	float: left;
}

.sectorImages {
	width: 130px;
}

.arrow-indicator {
	width: 59px;
	height: 70px;
	background-image: url("../resources/images/arrow1.png") !important;
	position: absolute;
	-ms-transform: rotate(30deg); /* IE 9 */
	-webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
	transform: rotate(30deg);
	display: none;
	z-index: 100;
}

.links-container a {
	color: #222222
}

.links-container ul {
	padding-left: 10px;
}

.error-403,.error-404,.error-expired,.error-system,.error-alfresco {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 300px;
	padding: 25px;
}

.error-403 {
	background: url("../resources/images/error-camino.jpg") no-repeat center center;
}

.error-404,.error-expired {
	background: url("../resources/images/error-desierto.jpg") no-repeat center center;
}

.error-system {
	background: url("../resources/images/error-tormenta.jpg") no-repeat center center;
}

.error-alfresco {
	background: url("../resources/images/error-alfresco.jpg") no-repeat center center;
}

a.text-decoration-none,a.text-decoration-none span {
	text-decoration: none !important;
}
 .ui-panelgrid-header label {
	 color: white
 }
 
 /*MarielaG*/
 /*estilos para presentacion de cambios en licencia */
.text-orange {
	color: #e88f00 !important;
	font-weight: bold; 
}

.background-orange {
	background-color: #e88f00 !important;
}

.buttons .ui-button.orange, .ui-button.orange {
	background: #e88f00;
	border: 1px solid #e88f00;
	color: #FFFFFF;
	font-weight: bold;
}

.title-bar-orange .ui-panelgrid-header {
	border-top: 4px solid #e88f00 !important;
    background: #e88f00 !important;
}
/*Fin MG estilos*/

.ui-label-form {
	color: white;
}

.w50px {
	width: 50px;
}

.w75px {
	width: 75px;
}

.pnlHeaders .ui-widget-content {
	border: none !important;
}

.pnlHeaders .ui-datagrid-header {
	text-align: left !important;
	background: #008A8A !important;
	color: #FFFFFF !important;
	font-weight: bold;
	padding-top: 0 !important;
}

.pnlSubHeaders .ui-datagrid-header {
	text-align: left !important;
	background: #00aac3 !important;
	color: #FFFFFF !important;
	font-weight: bold;
	padding: 5px !important;
}

.pnlSubHeaders .ui-widget-header {
	border-top: none !important;
}

.pnlSubHeaders .ui-widget-content {
	border: none !important;
}

.cssRadioDisabled .ui-radiobutton .ui-state-active {
	background: #008a8a !important;
}

.cssCheckDisabled .ui-state-active {
	background: #008a8a !important;
}

.italic {
	font-style: italic;
}

.buttonLarge {
	width: 170px !important;
}

.cssColumnDescription {
	display: block;
	max-height: 200px;
	overflow-y: auto!important;
	overflow-x: hidden !important;
}

.ui-state-error {
	color: #cd0a0a !important;
}

.button-small-verde {
	width: 18px !important;
	height: 18px !important;
	background-color: #006A77 !important;
}
